.panel-default > .panel-heading-custom {
background: #58FAD0; color: #58FAD0; color:black}
body {
    
    background-image: url("imagenes/instituto.jpg");
}





/*
                                
                                                 
                                                 
                                                 
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mar-2018, 23:15:52
    Author     : manue
*/

